<% if @artist.errors.any? %>
  <h4><%= pluralize(@artist.errors.count, 'error') %> prevented this record from being saved:</h4>

  <ul>
    <% @artist.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= bootstrap_form_for @artist do |f| %>

  <%= f.text_field :name, hide_label: true, placeholder: "Name" %>
  <%= f.text_field :image_path, hide_label: true, placeholder: "Image path" %>

  <%= f.submit "Save", class: "btn btn-success" %>
  <%= link_to "Cancel", :back, class: "btn btn-danger" %>
<% end %>
