<div class="wrapper">
  <h1>Add a new song for <%= @artist.name %></h1>

  <%= render partial: 'shared/errors', locals: { target: @song } %>

  <%= bootstrap_form_for([@artist, @song]) do |f| %>
    <%= f.text_field :title, hide_title: true, placeholder: "Title" %>

    <%= f.submit %>
  <% end %>
</div>
