<div class="wrapper">
  <h1>Add a new song for <%= @artist.name %></h1>

  <% if @song.errors.any? %>
    <h4><%= pluralize(@song.errors.count, 'error') %> prevented this record from being saved:</h4>

    <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= bootstrap_form_for([@artist, @song]) do |f| %>
    <%= f.text_field :title, hide_title: true, placeholder: "Title" %>

    <%= f.submit %>
  <% end %>
</div>
